@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #171723;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
    margin:0;
}

.section-main{
    position: relative;
    /* display: block; */
    width: 100%;
    overflow: hidden;
}

.section{
    position: relative;
    max-width: calc(100% - 40px);
    margin: 0 auto;
    width: 860px;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
}

.sectionFluid{
    position: relative;
    width: 100%;
    display: block;
}

[type="radio"]:checked,   /* atribute selector */
[type="radio"]:not(:checked) {
    position: absolute;
    visibility: hidden;
}

.colorBtn:checked + label,          /* + selector = adjacent sibling selector*/ 
.colorBtn:not(:checked) + label{    /* here we are selecting the label element which is next to the checked radio button */
    position: relative;
    height: 40px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 40px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    color: #ffeba7;
    margin-right: 10px;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112,0.25);
    z-index: 10;
    background-color: green;
    background-position: center;
    background-size: cover;
    border: 3px solid transparent;
}

.colorBtn:checked + label{
    border-color: #434343;
    transform: scale(1.1);
}

label.color1{
    margin-left: 500px;
    background-image: url("./Images/color1.jpg");
}

label.color2{
    background-image: url("./Images/color2.jpg");
}

label.color3{
    background-image: url("./Images/color3.jpg");
}

label.color4{
    background-image: url("./Images/color4.jpg");
}

label.color5{
    background-image: url("./Images/color5.jpg");
}

label.color6{
    background-image: url("./Images/color6.jpg");
}

.imgwrap{
    position: absolute;
    top: 100px;
    left: 0;
    width: 500px;
    height: 410px;
    display: inline-block;
    z-index: 9;
    transition: all 550ms linear;
    transition-delay: 100ms;
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("./Images/chair1.png");
    opacity: 0;
}

.forColor1:checked ~ .imgwrap.chair1{  /* ~ selector = general sibling selector. selects all elements that are next siblings of a specified element */
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.imgwrap.chair2{
    background-image: url("./Images/chair2.png");
}

.forColor2:checked ~ .imgwrap.chair2{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.imgwrap.chair3{
    background-image: url("./Images/chair3.png");
}

.forColor3:checked ~ .imgwrap.chair3{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.imgwrap.chair4{
    background-image: url("./Images/chair4.png");
}

.forColor4:checked ~ .imgwrap.chair4{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.imgwrap.chair5{
    background-image: url("./Images/chair5.png");
}

.forColor5:checked ~ .imgwrap.chair5{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.imgwrap.chair6{
    background-image: url("./Images/chair6.png");
}

.forColor6:checked ~ .imgwrap.chair6{
    opacity: 1;
    animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0) rotate(-1deg);
    }
    20%,
    80%{
        transform: translate3d(2px, 0, 0) rotate(2deg);
    }
    30%,
    50%,
    70%{
        transform: translate3d(-3px, 0, 0) rotate(-3deg);
    }
    40%,
    60%{
        transform: translate3d(3px, 0, 0) rotate(3deg);
    }
}

.backColor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    
}